@import '@/app/main';

.container {
    position: relative;
    height: 100%;
    .leftContainer, .middleContainer {
        z-index: 7;
        height: 100%;
    }
    .leftContainer {
        width: 60%;
        @media (max-width: 820px) { 
            width: 100%;
            z-index: 4 !important;
        }
        .contentContainer {
            width: 100%;
            height: calc(100% - 40px);
            width: 100%;
            padding: 0 18vw 0 5%;
            @media (max-width: 820px) { 
                padding-right: 5% !important;
            }
            height: calc(100% - $navbarHeight);
            @include flexDisplaying($direction: column, $justify: center);
            h1 {
                font-size: 3.7rem;
                @media (max-width: 820px) { 
                    font-size: 3rem;
                }
            }
            .caption {
                font-size: x-large;
                @media (max-width: 820px) { 
                    font-size: larger;
                }
            }
            .description {
                margin-top: 50px;
                font-size: larger;
                @media (max-width: 820px) { 
                    font-size: medium;
                }
                p:first-child {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .middleContainer {
        position: absolute;
        top: 0;
        left: calc(46% - 35px);
        width: calc(28% + 40px);
        @include flexDisplaying($direction: column, $justify: center);
        .pictureContainer {
            border: 20px solid $backgroundColor;
            overflow: hidden;
            width: 100%;
            border-radius: 50%;
        }
    }
    .rightContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
        /* background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
        overflow: hidden;
        z-index: 6;
    }
}